*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppons", sans-serif;
}
:root{
    --bg-color:lightgray;
    --second-bg-color: #131313;
    --text-color: green;
    --main-color: beige;
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
  transform: scale(1.1);  
}
.logo span{
    text-shadow: 0 0 10px var(--main-color);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
 ul {

    list-style: none;
    display: flex;
    padding: 0;
}
ul li{
margin: 0 15px; }

ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color)
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-img{
    border-radius: 50%;
  
}
.home-img img{
    position: relative;
    top: 1rem;
    width: 32vw;
    border-radius: 100%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: o.4s ease-in-out;
}
.home-img img:checked{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}


.skill{
    background-color: var(--bg-color);
    color: black;
}
.skill h1{
    margin-bottom: 5rem;
    color: black;
    font-size: 40px;
    font-family: fantasy;
    font-weight: 800;
}
.skill-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.skill-box{
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.skill-box:hover{
    background: white;
    color: black;
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.skill-box .skill-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 5rem 5rem;
}
.skill-info h4{
    font-size: 3rem;
font-weight: 800;
line-height: 2;
}
.skill-info p{
    font-size: 1.6rem;
    font-weight: 600;
    max-height: 100px;
    line-height: 1.7;
    margin: auto;
}
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

.footer-container a {
    color: #00aced;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

  a {
    color: white;
  }
  
  a:visited {
    color: pink;
  }
  
  a:hover {
    color: brown;
  }